/* src/components/PokeDex.css */

.PokeDex {
    text-align: center;
    padding: 20px;
    background: rgb(245,226,230);
    background: radial-gradient(circle, rgba(245,226,230,0.39539565826330536) 0%, rgba(154,25,218,0.9304096638655462) 100%);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: auto;
  }
  
  .PokeDex h3 {
    font-size: 26px;
    color: navy;
    text-shadow: 2px 2px green;
    margin-bottom: 10px;
  }
  
  .PokeDex button {
    background-color: #ffcc00;
    color: #333;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .PokeDex button:hover {
    background-color: #ff9900;
  }
  
  .PokeDex-input{
    border: 1px solid red;
    border-radius: 5px;
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 5px 10px;
  }

  .PokeDex-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }
  
  .PokemonCard {
    width: 150px;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    background: rgb(245,226,230);
    background: radial-gradient(circle, rgba(245,226,230,0.39539565826330536) 0%, rgba(154,25,218,0.9304096638655462) 100%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .PokemonCard img {
    width: 100px;
    height: 100px;
  }
  
  .PokemonCard:hover {
    transform: scale(1.1);
  }
  